:root {
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: Helvetica;
}

body {
    margin: 0;
    padding: 0;
}

.pages {
    text-align: right;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    direction: rtl;
    padding: 0 10%;
    background-color: rgb(58, 58, 58);
}



#navbar img {
    width: 6em;
}
